h1{
    text-align: center;
}
section{
    display: flex;
    
}
article{
    border: 2px solid;
    border-radius: 9px;
    margin-left: 130px;
    width: 50%;
    margin-top: 100px;
    height: 270px;
    box-shadow:0   0 4px rgb(173, 171, 171);
}
h3,a,p{
    padding-left: 10px;
    margin-bottom: 2px;
    margin-left: 12px;
}
h3{
    font-size: 20px;
}
p{
    margin-bottom: 100px;
}
.art1 div{
    border: 2px solid;
    background-color: black;
    border-radius: 10px;
}
.art2 div{
    border: 2px solid blue;
    background-color: blue;
}
.art3 div {
    background-color: brown;
    border: 2px solid brown;
}
div{
    width: 99%;
    border-radius: 3px;
    height: 4px;
}